*{
    /* border: 1px solid red; */
    /* margin: 0; */
}


@font-face{
    font-family:'New';
    src: url(./fonts/poppins.ttf);
}


header{
    background-image: url(./images/banner-bg.png);
}

.nav-item{
    display: flex;
    /* gap: 30px; */
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
}

.nav-home{
    transition: ease-in all 0.3s;

}

.nav-home:hover{
    color: #FEB607;

}

.nav-service{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;

}

.nav-service:hover{
    color: #FEB607;
}

.nav-about{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-about:hover{
    color: #FEB607;
}

.nav-shop{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-shop:hover{
    color: #FEB607;
}

.nav-contat{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition:  0.3s;
}

.nav-contat:hover{
    color: #FEB607;
}

.nav-bar{
    display: flex;
    gap: 30px;
}

.nav{
    display: flex;
    /* gap: 50px; */
    margin-left: 30px;
}

.nav-bar img{
    cursor: pointer;
}

.nav-login{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
    transition: ease-in 0.3s;
    gap: 30px;
    text-transform: uppercase;
}

.nav-login:hover{
    color: #FEB607;

}

.nav-contact{
    margin-top: 15px;
    font-size: 18px;
    color: #FEB607;
}

.intro h1{
    font-size: 100px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    padding-top: 130px;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}

.p1{
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.4em;
    margin-top: 17px;
}

.intro button{
    font-size: 18px;
    color: white;
    background-color: #FFB607;
    padding: 17px 39px;
    text-align: center;
    border-radius: 5px;
    margin-top: 300px;
    border-style: none;
    margin-left: 580px;
    margin-bottom: 80px;
    transition:  0.5s;
    cursor: pointer;
}

.intro button :hover{
    background-color: black;
}
