*{
    /* border: 1px solid red; */
    margin: 0;
}


@font-face{
    font-family:'New';
    src: url(./fonts/poppins.ttf);
}

body{
    width: 100%;
}

header{
    background-image: url(./images/banner-bg.png);
}


.nav-item{
    margin-top: 19px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    margin-left: 30px;
    gap: 40px;
}

.nav-home{
    transition: ease-in all 0.3s;
}

.nav-home:hover{
    color: #FEB607;

}

.nav-service{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;

}

.nav-service:hover{
    color: #FEB607;
}

.nav-about{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-about:hover{
    color: #FEB607;
}

.nav-shop{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-shop:hover{
    color: #FEB607;
}

.nav-contat{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition:  0.3s;
}

.nav-contat:hover{
    color: #FEB607;
}

.nav-bar{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.nav{
    display: flex;
    /* gap: 50px; */
    margin-left: 30px;
}

.nav-bar img{
    cursor: pointer;
    margin-top: 5px;
}

.nav-login{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
    transition: ease-in 0.3s;
    gap: 30px;
    text-transform: uppercase;
}

.nav-login:hover{
    color: #FEB607;

}

.nav-contact{
    margin-top: 15px;
    font-size: 19px;
    color: #FEB607;
    margin-left: 40px;
}

.intro h1{
    font-size: 100px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    padding-top: 130px;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}

.p1{
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.4em;
    margin-top: 17px;
}

.intro button{
    font-size: 18px;
    color: white;
    background-color: #FFB607;
    padding: 17px 39px;
    text-align: center;
    border-radius: 5px;
    margin-top: 300px;
    border-style: none;
    margin-left: 580px;
    margin-bottom: 80px;
    transition:  0.5s;
    cursor: pointer;
}

.intro button:hover{
    background-color: black;
}


.first-section{
    margin-top: 80px;
    margin-bottom: 100px;
}

.first-section h2{
    text-transform: uppercase;
    font-size: 40px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}

.p2{
    text-align: center;
    margin-top: 20px;
}

.Info{
    /* margin: auto; */
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    width: 90%;
    gap: 20px;
}



.Info h3{
    text-transform: uppercase;
    font-size: 25px;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
    margin-top: 15px;
    /* margin: auto; */
    margin-left: 30px;
    width: 80%;
}

.Info img{
    margin: auto;
    margin-left: 70px;
}

.Info p{
    /* width: 20%; */
    width: 90%;
    /* float: left; */
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    line-height: 1.4em;

}

.Info button{
    /* font-size: 16px; */
    margin-left: 30px;
    margin-top: 14px;
    color: white;
    background-color: #FFB607;
    padding: 15px 25px;
    border-radius: 5px;
    border-style: none;
    transition:  0.5s;
    cursor: pointer;
    text-transform: uppercase;
    /* width: 100%; */
    float: left;
    font-size: 18px;
    text-align: center;
}

.Info button:hover{
    background-color: black;
}

.office-info h3 {
    margin-left: 60px;
}

.second-section{
    display: flex;
    background-color: #FEB607;
    margin-bottom: 100px;
    padding: 100px;
    gap: 40px;
}

.second-section h2{
    text-transform: uppercase;
    font-size: 40px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    /* width: 100%; */
    color: white;
    /* margin-top: 100px; */
    padding-left: 30px;
}

.second-section p{
    width: 100%;
    line-height: 1.4em;
    padding-top: 80px;
    color: white;
    padding-left: 30px;

}

.second-section button{
    margin-top: 80px;
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 5px;
    border-style: none;
    transition:  0.5s;
    cursor: pointer;
    text-transform: uppercase;
    /* width: 100%; */
    /* float: left; */
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
}

.second-section button:hover{
    background-color: white;
    color: black;
}


.third-section{
    margin-bottom: 120px;
}

.about-furnitures h2{
    text-transform: uppercase;
    font-size: 40px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}

.about-furnitures p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.inside-furnitures{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.inside-furnitures h3{
    color: #FEB607;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px
}

.inside-furnitures p{
    font-size: 18px;
    line-height: 1.4em;
    width: 90%;
}

.fourth-section{
    margin-bottom: 100px;
    background-color: #FEBD21;
    padding: 80px;
}
.fourth-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    color: white;

}

.fourth-section h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    color: white;
}

.fourth-section p{
    text-align: center;
    margin-top: 40px;
    width: 95%;
    padding-left: 40px;
    line-height: 1.4em;
    color: white;
    font-size: 16px;
}



.fourth-section button{
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color: black;
    padding: 17px 29px;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    margin-left: 500px;
    transition:  0.5s;
    text-transform: uppercase;
    cursor: pointer;
}

.fourth-section button:hover{
    background-color: white;
    color: #090808;
}

.fifth-section{
    margin-bottom: 100px;
}

.fifth-section h2{
    text-transform: uppercase;
    font-size: 40px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}

.fifth-section p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.design-img{
    gap: 40px;
    margin-top: 90px;
    margin-left: 80px;
    display: flex;
}


.sixth-section{
    margin-bottom: 100px;
}

.clients-text h2{
    text-transform: uppercase;
    font-size: 40px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
    text-align: center;
    margin: auto;
}


.clients-text p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}


.loksans{
    margin-top: 80px;
    margin-left: 100px;


}


.loksans-1{
    display: flex;
    /* align-items: center; */
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    gap: 40px;
}

.loksans-1 h3{
    text-transform: uppercase;
    font-size: 20px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
}


.loksans-1 p{
    /* width: 50%; */
    line-height: 1.4em;
    margin-top: 10px;
}


.loksans-2{
    display: flex;
    /* align-items: center; */
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin-top: 40px;
    gap: 40px;
    margin-left: 470px;
}

.loksans-2 h3{
    text-transform: uppercase;
    font-size: 20px;
    text-transform: uppercase;
    /* font-family: New; */
    font-weight: 300;
    width: 100%;
    color: #090808;
}


.loksans-2 p{
    /* width: 50%; */
    line-height: 1.4em;
    margin-top: 10px;
}

footer{
    margin-bottom: 20px;
}

.contact-us{
display: flex;
padding: 100px;
gap: 100px;
background-color:#FEBD21;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us h2{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    color: white;
    /* width: 100%; */
}

#contact-name{
    margin-bottom: 10px;
    width: 100%;
    margin-top: 30px;
    height: 60px;
    color: rgb(119, 121, 119);
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    padding: 0px 20px;
    /* font-family: New; */
    font-weight: 300;
    padding-right: 150px;
    background: rgb(255, 255, 255);
    border-style: none;
}

#contact-email{
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    color: rgb(119, 121, 119);
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    padding-right: 150px;
    padding: 0px 20px;
    /* font-family: New; */
    font-weight: 300;
    padding-right: 150px;
    background: rgb(255, 255, 255);
    border-style: none;
}


#contact-number{
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    color: rgb(119, 121, 119);
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    padding: 0px 20px;
    /* font-family: New; */
    font-weight: 300;
    padding-right: 150px;
    background: rgb(255, 255, 255);
    border-style: none;
}

.contact-us img{
    margin-left: 90px;
    width: 50%;
    margin-top: 70px;
    height: 450px;
    position: relative;
    /* margin: auto; */
}

#contact-message{
    width: 100%;
    height: 60px;
    color: rgb(119, 121, 119);
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    padding: 0px 20px;
    /* font-family: New; */
    font-weight: 300;
    padding-right: 150px;
    background: rgb(255, 255, 255);
    border-style: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-us button{
    text-transform: uppercase;
    padding: 20px 55px;
    margin-top: 50px;
    font-size: 18px;
    /* font-family: New; */
    font-weight: 300;
    color: #090808;
    text-align: center;
    border: 2px solid white;
    background-color: #FEBD21;
    color: gray;
    cursor: pointer;
    transition: ease 0.7s;
}

.contact-us button:hover{
background-color: white;
}


.foot-info{
    background-color: #313131;
    color: white;
    display: flex;
    padding: 100px;
    gap: 100px;
}

.foot-info p{
    width: 50%;
}

/* .foot-info h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    color: white;
} */

.lets-design h2{
    font-size: 40px;
    text-transform: uppercase;
    font-size: 25px;
    /* font-family: New; */
    /* font-weight: 800; */
    color: white;
}

.lets-design p{
    line-height: 1.4em;
    width: 90%;
    margin-top: 20px;
}

.lets-help h2{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    color: white;
}


.lets-help p{
    line-height: 1.4em;
    width: 90%;
    margin-top: 20px;
}

.get-info h2{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    color: white;
}

.get-info dt{
    margin-top: 20px;
    gap: 20px;
}

.get-info dd{
    margin-top: 5px;
}

.our-design h2{
    font-size: 40px;
    text-transform: uppercase;
    font-size: 25px;
    /* font-family: New; */
    /* font-weight: 800; */
    color: white;
}

.our-design p{
    line-height: 1.4em;
    width: 90%;
    margin-top: 20px;
}

.foot-icon{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.copyright{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}






























@media  ( max-width:400px ) {
    *{
        /* border: 1px solid red; */
    }
    


    body{
        width: 100%;
    }

    header{
        background-image: url(./images/banner-bg.png);
        width: 100%;
        background-position: 50%;
        background-size: cover;
        height: 100px;
        width: 100%;
        padding-bottom: 190px;
        margin-bottom: 0;
        padding-top: 10px;
    }
    
    
    .nav-item{
        margin-top: 11px;
        display: flex;
        font-size: 10px;
        cursor: pointer;
        margin-left: 30px;
        gap: 10px;
        /* flex-direction: column; */
        width: 20%;
    }
    
    .nav-home{
        transition: ease-in all 0.3s;
    }
    
    .nav-home:hover{
        color: #FEB607;
    
    }
    
    .nav-service{
        /* display: flex; */
        /* gap: 30px; */
        font-size: 8px;
        cursor: pointer;
        transition: ease-in all 0.3s;
        width: 20%;

    
    }
    
    .nav-service:hover{
        color: #FEB607;
    }
    
    .nav-about{
        /* display: flex; */
        /* gap: 30px; */
        font-size: 10px;
        cursor: pointer;
        transition: ease-in all 0.3s;
    }
    
    .nav-about:hover{
        color: #FEB607;
    }
    
    .nav-shop{
        /* display: flex; */
        /* gap: 30px; */
        font-size: 10px;
        cursor: pointer;
        transition: ease-in all 0.3s;
    }
    
    .nav-shop:hover{
        color: #FEB607;
    }
    
    .nav-contat{
        /* display: flex; */
        /* gap: 30px; */
        font-size: 10px;
        cursor: pointer;
        transition:  0.3s;
    }
    
    .nav-contat:hover{
        color: #FEB607;
    }
    
    .nav-bar{
        display: flex;
        gap: 0px;
        margin-top: 10px;
        width: 95%;
        /* flex-direction: column; */

    }
    
    .nav{
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        margin-left: 0px;
        width: 100%;
    }
    
    .nav-bar img{
        width: 30%;
        cursor: pointer;
        background-position: 50%;
        background-size: cover;
        height: 20px;
        margin-top: 5px;
    }
    
    .nav-login{
        display: flex;
        margin-top: 15px;
        font-size: 8px;
        cursor: pointer;
        margin-left: 0px;
        transition: ease-in 0.3s;
        gap: 100px;
        text-transform: uppercase;
        display: none;
    }
    
    .nav-login:hover{
        color: #FEB607;
    
    }
    
    .nav-contact{
        margin-top: 15px;
        font-size: 9px;
        color: #FEB607;
        margin-left: 0px;
        width: 50%;
        display: none;
    }
    
    .intro h1{
        font-size: 30px;
        text-transform: uppercase;
        /* font-family: New; */
        font-weight: 300;
        padding-top: 50px;
        width: 100%;
        color: #090808;
        text-align: center;
        margin: 0;
    }
    
    .p1{
        text-align: center;
        width: 50%;
        margin: auto;
        line-height: 1.4em;
        margin-top: 10px;
        font-size: 11px;
    }
    
    .intro button{
        font-size: 8px;
        color: white;
        background-color: #FFB607;
        padding: 10px 19px;
        text-align: center;
        border-radius: 5px;
        margin-top: 30px;
        border-style: none;
        margin-left: 140px;
        margin-bottom: 10px;
        transition:  0.5s;
        cursor: pointer;

    }
    
    .intro button:hover{
        background-color: black;
    }




    .first-section{
        margin-top: 50px;
        margin-bottom: 70px;
        width: 90%;
    }
    
    .first-section h2{
        text-transform: uppercase;
        font-size: 22px;
        text-transform: uppercase;
        /* font-family: New; */
        font-weight: 300;
        width: 100%;
        color: #090808;
        text-align: center;
        margin: auto;
    }
    
    .p2{
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        margin-left: 10px;
    }
    
    .Info{
        /* margin: auto; */
        margin-top: 40px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 40px;
    }
    
    
    
    .Info h3{
        text-transform: uppercase;
        font-size: 15px;
        /* font-family: New; */
        font-weight: 300;
        width: 100%;
        color: #090808;
        margin-top: 15px;
        /* margin: auto; */
        margin-left: 80px;
        width: 80%;
    }
    
    .Info img{
        margin: auto;
        margin-left: 90px;
        width: 20%;
    }
    
    .Info p{
        /* width: 20%; */
        width: 80%;
        /* float: left; */
        font-size: 13px;
        color: #090808;
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
        line-height: 1.4em;
    
    }
    
    .Info button{
        /* font-size: 16px; */
        margin-left: 70px;
        margin-top: 14px;
        color: white;
        background-color: #FFB607;
        padding: 10px 20px;
        border-radius: 5px;
        border-style: none;
        transition:  0.5s;
        cursor: pointer;
        text-transform: uppercase;
        /* width: 100%; */
        float: left;
        font-size: 11px;
        text-align: center;
    }
    
    .Info button:hover{
        background-color: black;
    }
    
    .office-info h3 {
        margin-left: 90px;
        width: 50%;
    }

    .second-section{
        display: flex;
        flex-direction: column;
        background-color: #FEB607;
        margin-bottom: 100px;
        height: 350px;
        padding: 40px;
        gap: 0px;
    }
    
    .second-section h2{
        text-transform: uppercase;
        font-size: 20px;
        text-transform: uppercase;
        /* font-family: New; */
        font-weight: 300;
        /* width: 100%; */
        color: white;
        /* margin-top: 100px; */
        padding-left: 0px;
    }
    
    .second-section p{
        width: 100%;
        line-height: 1.4em;
        padding-top: 30px;
        color: white;
        padding-left: 0px;
        font-size: 11px;
    
    }
    
    .second-section button{
        margin-top: 20px;
        color: white;
        background-color: black;
        padding: 10px 20px;
        border-radius: 5px;
        border-style: none;
        transition:  0.5s;
        cursor: pointer;
        text-transform: uppercase;
        /* width: 100%; */
        /* float: left; */
        font-size: 10px;
        text-align: center;
        margin-left: 0px;
    }
    
    .second-section button:hover{
        background-color: white;
        color: black;
    }

    .second-section img{ 
        width: 70%;
        margin-top: 30px;
        margin-left: 40px;
    }
    


    .third-section{
        margin-bottom: 150px;

    }
    
    .about-furnitures h2{
        text-transform: uppercase;
        font-size: 20px;
        text-transform: uppercase;
        /* font-family: New; */
        font-weight: 300;
        width: 100%;
        color: #090808;
        text-align: center;
        margin: auto;
    }
    
    .about-furnitures p{
        text-align: center;
        margin-top: 20px;
        font-size: 15px;
    }
    
    .inside-furnitures{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 1px;
        gap: 40px;
    }
    
    .inside-furnitures h3{
        color: #FEB607;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 17px;
        margin-left: 10px;
    }

    .inside-furnitures img{
        width: 100%;
    }
    
    .inside-furnitures p{
        font-size: 18px;
        line-height: 1.4em;
        width: 95%;
        margin-left: 10px;
        font-size: 14px;
    }
    
    
  
}
