*{
    /* border: 1px solid red; */
    /* margin: 0; */
}

body{
    background-image: url(./images/banner-bg.png);
}

.nav-item{
    display: flex;
    /* gap: 30px; */
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
}

.nav-home{
    transition: ease-in all 0.3s;

}

.nav-home:hover{
    color: #FEB607;

}

.nav-service{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;

}

.nav-service:hover{
    color: #FEB607;
}

.nav-about{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-about:hover{
    color: #FEB607;
}

.nav-shop{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

.nav-shop:hover{
    color: #FEB607;
}

.nav-contat{
    /* display: flex; */
    /* gap: 30px; */
    font-size: 18px;
    cursor: pointer;
    transition:  0.3s;
}

.nav-contat:hover{
    color: #FEB607;
}

.nav-bar{
    display: flex;
    gap: 30px;
}

.nav{
    display: flex;
    /* gap: 50px; */
    margin-left: 30px;
}

.nav-bar img{
    cursor: pointer;
}

.nav-login{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
    transition: ease-in 0.3s;
    gap: 30px;
    text-transform: uppercase;
}

.nav-login:hover{
    color: #FEB607;

}

.nav-contact{
    margin-top: 15px;
    font-size: 18px;
    color: #FEB607;
}